<!DOCTYPE html>
<html lang="en">
<head>
  <h1>Vytvoření uživatele</h1>
    <a href="/" target="_blank" rel="nofollow noopener" class="btn btn-primary">Rawr's Database</a>
    <br>
    <a href="/deleteuser" target="_blank" rel="nofollow noopener" class="btn btn-primary">Smazání uživatele</a>
</head>
<body>
    <h1>Vytvoření nového uživatele</h1>


    <form method="POST" action="/newuser">

      <label for="fname">Jméno:</label>
      <input type="text" id="fname" name="fname" required>

      <label for="lname">Příjmení:</label>
      <input type="text" id="lname" name="lname" required>

      <label for="age">Věk:</label>
      <input type="text" id="age" name="age" required>
      <button type="submit">Vytvořit nového uživatele</button>
    </form>
    <style>

   button {
    background: linear-gradient(to right, #0f3f99, #00c48c);
    color: rgb(255, 255, 255);
    padding: 7px;
    margin: 5px;
   }

   
    </style>
</body>
</html>