<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vytvoření uživatele</title>
</head>
<body>
    <h1>vytvoření uživatele</h1>



    <form method="post" action="/createuser">

      <label for="fname">Jméno:</label>
      <input type="text" id="fname" name="fname" required>

      <label for="lname">Příjmení:</label>
      <input type="text" id="lname" name="lname" required>

      <label for="lname">Věk:</label>
      <input type="text" id="Age"   age="Age" required>

      <button type="submit" id="fname" name=""fname required></button>
    </form>
</body>
</html>