<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vytvoření uživatele</title>
</head>
<body>
    <h1>vytvoření uživatele</h1>



    <form method="POST" action="/newuser">

      <label for="fname">Jméno:</label>
      <input type="text" id="fname" name="fname" required>

      <label for="lname">Příjmení:</label>
      <input type="text" id="lname" name="lname" required>

      <label for="age">Věk:</label>
      <input type="text" id="age" name="age" required>

      <button type="submit"></button>
    </form>
    <style>
  
    </style>
</body>
</html>