table {
width: 100%;
border-collapse: collapse;
}

th, td {
border:1px solid black;
padding: 10px;
text-align: center;
}

th {
    background-color:seagreen;
    font-weight: bold;
}

th { 
    font-style: italic;
    font-size: medium;
}